<div class = 'container'>
  <div class = 'jumbotron'>
    <h1>Hair Salon</h1>
  </div>
    <div class="card-content">
      <h3> Welcome to Haley's Hair Salon</h3>
      <a href = '/stylist_list'>Click Here to view our stylists</a>
      <a href = '/client_list'>Click here to find or add your name in our client list</a>
    </div>
</div>
