<div class="col s12 m2">
  <p class="z-depth-5"></p>
  <div class = 'jumbotron'>
    <h2>Tip Top Hair Salon</h2>
  </div>
  </div>
    <div class="card-content">
      <h3>Welcome to Tip Top Hair Salon!</h3>
      <br>
      <a href = '/stylist_list' class = 'link1'>Click Here to view our stylists</a>
      <br>
      <br>
      <a href = '/client_list' class = 'link2'><button type = 'submit'>Click here to find or add your name in our client list</a></button>
    </div>
